<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Código</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio de compra</th>
      <th scope="col">Precio de venta</th>
      <th scope="col">Ganancia</th>
      <th scope="col">Existencia</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <th scope="row">{{ product.id }}</th>
      <td>{{ product.codigo }}</td>
      <td>{{ product.descripcion }}</td>
      <td>{{ product.precioCompra | currency : "S/. " }}</td>
      <td>{{ product.precioVenta | currency : "S/. " }}</td>
      <td>{{ product.ganancia | currency : "S/. " }}</td>
      <td>{{ product.existencia | number }}</td>
      <td>
        <button class="btn btn-warning">
          <a [routerLink]="['/product', product.id]"> Ver más </a>
        </button>
      </td>
    </tr>
  </tbody>
</table>
